<div class="noSearch">
  <% if(noMatch!== undefined){ %>
    <h3><%=noMatch%></h3>
  <% } %>
</div>

<% products.forEach( p =>{ %>
 <section id="main">

  <div class="row">
    <div class="mainscreen col-lg-5">
      <div class="card">
        <div class="card-body painting">
        <!-- <img class = "image" src="<%-p.imagePath %>" alt="DISPLAY IMAGE HERE"> -->
        <img
       src="data:image/<%=p.img.contentType%>;base64,
     <%=p.img.data.toString('base64')%>"
     />
        </div>
      </div>
    </div>

    <div class="mainscreen col-lg-4">
      <div class="card">
        <div class="card-header">
          <h3>Description</h3>
        </div>
        <div class="card-body">
          <div class="card-text"><%-p.desc %></div>
          <div class="card-text float-right">
             <b>Price</b> Rs.<%-p.price %>
       </div>
          </div>
        <a href="/dashboard/add-to-cart/<%- p._id %>" class= "btn btn-secondary"> <i class="fas fa-shopping-cart"></i>Add to Cart</a>
    </div>
    </div>

    <div class="mainscreen col-lg-3">
      <div class="card">
        <div class="card-header">
          <h3>About Artist</h3>
        </div>
        <div class="card-body">
            Artist Description....
        </div>
      </div>
    </div>
  </div>
</section>

<% }) %>

<!-- MAIN SCREEN -->
